<div>
  <div>
    <h1>
      List of all poems
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new poem
    </h2>

    <form action="/insert_poem" method="post">
      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title">
      </div>

      <div>
        <label for="poem_box">
          Poem
        </label>

        <textarea id="poem_box" name="query_poem" rows="3"></textarea>
      </div>

      <button>
        Create poem
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Title
        </th>

        <th>
          Poem
        </th>

        <th>
          User
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_poems.each do |a_poem| %>
      <tr>
        <td>
          <%= a_poem.id %>
        </td>

        <td>
          <%= a_poem.title %>
        </td>

        <td>
          <%= a_poem.poem %>
        </td>

        <td>
          <%= a_poem.user_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_poem.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_poem.updated_at) %> ago
        </td>

        <td>
          <a href="/poems/<%= a_poem.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
