<!DOCTYPE html>
<html>
  <head>
    <title>PoemStream</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <style>
  nav {
    display: flex;
    justify-content: space-between;
  }
</style>
<nav>
  <a href="/">PoemStream</a>
  <% if current_user.present? %>
    <div>
      <a href="/users/edit">Edit profile</a>
      <a href="/users/sign_out">Sign out</a>
    </div>
  <% else %>
    <div>
      <a href="/users/sign_up">Sign up</a>
      <a href="/users/sign_in">Sign in</a>
    </div>
  <% end %>
</nav>

    
    <%= yield %>
  </body>
</html>
